body {
}

button {
   width:50px;
   height:50px;
   border-radius: 0.5em;
}

.buttonplay {
   width: 105px;
}

.brain {
   width:150px;
   display:inline-block;
   float:left;	
}

h1{
   width:150px;
   display:inline-block;
   float:left;
   color:#EEEEEE;
   font-family:"Arial";
   text-shadow: 4px 4px 4px #606060;
   margin-top: -10px;
   margin-left: 50px;

} 

nav {
   clear:both;
   width: 445px;
   border-bottom-width:2px;
   border-bottom-color:#EEEEEE;
   border-bottom-style: solid;
   height: 30px;
}
nav li {
   display:inline-block;
   background-color:#EEEEEE;
   text-align: center;
   width: 90px;
   height: 25px;
   font-family:"Arial";
   color:red;
   padding-top:5px;
   padding-top:5px;
   border-top-left-radius:0.5em;
   border-top-right-radius:0.5em;
}

nav li:hover {
   background-color:lightgrey;
}

nav li a {
   text-decoration:none;
   color:red;
}
   
nav ul {
   width:400px;
}   

.fondsection {
   margin-left: 150px;
   background-color:lightgrey;
   width:160px;
}

#gamelevel {
   width:400px;
   text-align:center;
   font-family: "Arial";
   font-size: 20px;
   color:red;
}

.demort {
   background-color: #ffcccc;
   width:445px;
   height: 500px;
   border-radius: 0.8em;
}
